*{
  margin: 0;
  padding: 0;
}

h1{
  border-bottom: solid 3px black;
  padding: 0px 32px;
  margin: 16px;
}
h2{
  text-align: center;
  font-size: xx-large;
}
.flex{
  display: flex;
  justify-content: space-evenly;
  margin: 32px;
}

button{
  width: 200px;
  height: 200px;
  font-size: 130px;
}